.head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7E8EF1;
    color: #EEEEEE;
    text-align: center;
    height: 400px;
    font-family: sans-serif;
}


.playwrite-pl {
  font-family: "Playwrite PL", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
}

.head p{
    padding-bottom: 20px;
    font-size: 30px;
}

.profile-image{
    border-radius: 60px;
}

.profile-pic{
    border-radius: 50%;
    border: 6px solid #615EFC;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
    background-color: black;
}

.purple{
    color: #615EFC;
}

.footer{
    background-color: #D1D8C5;
}

.recent>h2{
    text-align: center;
}